@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--white: #fff;
		--black: #1c1b1b;
		--pink: #c21858;
		--green: #178b75;
		--yellow: #fdb44d;
	}
	html {
		font-size: 12px;
	}
	@media (min-width: 768px) {
		html {
			font-size: 8px;
		}
	}
	@media (min-width: 976px) {
		html {
			font-size: 12px;
		}
	}
	@media (min-width: 1440px) {
		html {
			font-size: 13px;
		}
	}
	@media (min-width: 1680px) {
		html {
			font-size: 16px;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}
	h1 {
		@apply text-6xl;
	}
	@media (max-width: 760px) {
		h1 {
			@apply text-4xl;
		}
	}
	body {
		font-family: "Josefin Sans", cursive;
		font-weight: 300;
		.unorganized-grid {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, 300px);
			grid-auto-rows: minmax(20px, auto);
			justify-content: center;	

		}
	}
}
